<!DOCTYPE html>
<head>
  <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../dist/bundle.js"></script>
    <script src="./newPatient.js" type="module"></script>
  </head>
  <body>
    <nav class="navbar" role="navigational" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="./index.html" class="main-action">
          <span class="icon is-medium">
            <i class="fas fa-home fa-2x"></i>
          </span>
        </a>
        <h1 class="title">Nuevo paciente</h1>
      </div>
    </nav>

    <div class="container">
      <div class="columns is-flex is-centered">
        <div class="column is-11-mobile is-11-tablet mt-1">
          <form id="createPatientForm" >
            <div class="columns is-flex is-multiline mb-0">
              <div class="column is-4 is-12-mobile pb-0">
                <div class="field">
                  <label class="label" for="fullName">Nombre</label>
                  <div class="control">
                    <input id="fullName" class="input" type="text" placeholder="Nombre completo" name="fullName" required=required minlength="10" maxlength="70">
                  </div>
                </div>
                <div class="columns is-flex mb-0">
                  <div class="column is-6">
                    <div class="field">
                      <label class="label" for="expedient">Expediente</label>
                      <div class="control">
                        <input id="expedient" class="input" type="number" min="0" name="expedient" placeholder="#">
                      </div>
                    </div>
                  </div>
                  <div class="column is-6">
                    <div class="field">
                      <label class="label" for="admisionDate">Fecha ing.</label>
                      <div class="control">
                        <input id="admisionDate" class="input" type="date" name="admisionDate" required=required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns is-flex mb-0">
                  <div class="column is-6">
                    <label class="label" for="sex">Sexo</label>
                    <div class="select">
                      <select id="sex" name="sex" required=required>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                      </select>
                    </div>
                  </div>
                  <div class="column is-6">
                    <label class="label" for="marritalStatus">Estado civil</label>
                    <div class="select">
                      <select id="marritalStatus" name="marritalStatus">
                        <option value="N/A" disabled=disabled selected=selected>N/A</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                        <option value="Sotero(a)">Soltero(a)</option>
                        <option value="Unión libre">Unión libre</option>
                        <option value="Viudo(a)">Viudo(a)</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-4 is-12-mobile pb-0">
                <div class="columns is-flex mb-0">
                  <div class="column is-6">
                    <div class="field">
                      <label class="label" for="birthDate">F.Nacimiento</label>
                      <div class="control">
                        <input id="birthDate" class="input" type="date" name="birthDate">
                      </div>
                    </div>
                  </div>
                  <div class="column is-6">
                    <div class="field">
                      <label class="label" for="age">Edad</label>
                      <div class="control">
                        <input id="age" class="input" type="number" name="age" required=required min="1" max="100" placeholder="34 años">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label class="label" for="activitites">Ocupaciones</label>
                  <div class="control">
                    <input id="activitites" class="input" type="text" name="activitites" placeholder="Deporte, danza, lectura...">
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="reference">Referencia</label>
                  <div class="control">
                    <input id="reference" class="input" type="text" name="referencia" placeholder="Nombre de quien referenció">
                  </div>
                </div>
              </div>

              <div class="column is-4 is-12-mobile pb-0">
                <div class="field">
                  <label class="label" for="city">Ciudad</label>
                  <div class="control">
                    <input id="city" class="input" type="text" name="city" placeholder="Colima">
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="address">Domicilio</label>
                  <div class="control">
                    <input id="address" class="input" type="text" name="address" placeholder="Calle Gabino Barreda 269, Centro, 28000" minlength="10" maxlength="100">
                  </div>
                </div>
                <div class="columns is-flex mb-0">
                  <div class="column is-6">
                    <div class="field">
                      <label class="label" for="phone">Tel.</label>
                      <div class="control">
                        <input id="phone" class="input" type="phone" name="phone" placeholder="(312)-314-6030" pattern="[0-9]{10}" maxlength="10" minlength="10">
                      </div>
                    </div>
                  </div>
                  <div class="column is-6">
                    <div class="field">
                      <label class="label" for="cellPhone">Cel.</label>
                      <div class="control">
                        <input id="cellPhone" class="input" type="phone" name="cellPhone" placeholder="(312)-314-6030" pattern="[0-9]{10}" maxlength="10" minlength="10">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="column is-4 is-12-mobile pt-0">
                <div class="field">
                  <label class="label" for="dxPrimary">Dx. Primario</label>
                  <div class="control">
                    <textarea id="dxPrimary" class="textarea" rows="2" name="dxPrimary"></textarea>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="background">Antecedentes</label>
                  <div class="control">
                    <textarea id="background" class="textarea" rows="2" name="background"></textarea>
                  </div>
                </div>
              </div>
              <div class="column is-4 is-12-mobile pt-0">
                <div class="field">
                  <label class="label" for="dxInitial">Dx. A. Inicial</label>
                  <div class="control">
                    <textarea id="dxInitial" class="textarea" rows="2" name="dxInitial"></textarea>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="surgicalHistory">Antecedentes Quirúrgicos</label>
                  <div class="control">
                    <textarea id="surgicalHistory" class="textarea" rows="2" name="surgicalHistory"></textarea>
                  </div>
                </div>
              </div>
              <div class="column is-4 is-12-mobile pt-0">
                <div class="field">
                  <label class="label" for="dxFinal">Dx. A. Final</label>
                  <div class="control">
                    <textarea id="dxFinal" class="textarea" rows="2" name="dxFinal"></textarea>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="txIntervencionism">Tx. Intervencionismo</label>
                  <div class="control">
                    <textarea id="txIntervencionism" class="textarea" rows="2" name="txIntervencionism"></textarea>
                  </div>
                </div>
              </div>
              <div class="column is-12 is-12-mobile" data-controller="tabs">
                <div class="tabs is-small is-boxed">
                  <ul>
                    <li class="is-active" data-target="tabs.tab" data-action="click->tabs#updateSelectedTab" data-target-id="painCharacteristicContainer">
                      <a>
                        <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
                        <span>Características del dolor</span>
                      </a>
                    </li>
                    <li data-target="tabs.tab" data-action="click->tabs#updateSelectedTab" data-target-id="physicResearchContainer">
                      <a>
                        <span class="icon is-small"><i class="fas fa-search-plus" aria-hidden="true"></i></span>
                        <span>Exploración física</span>
                      </a>
                    </li>
                     <li data-target="tabs.tab" data-action="click->tabs#updateSelectedTab" data-target-id="labContainer">
                      <a>
                        <span class="icon is-small"><i class="fas fa-vials" aria-hidden="true"></i></span>
                        <span>Laboratorio/Gabinete</span>
                      </a>
                    </li>
                    <li data-target="tabs.tab" data-action="click->tabs#updateSelectedTab" data-target-id="theatmentsContainer">
                      <a>
                        <span class="icon is-small"><i class="fas fa-receipt" aria-hidden="true"></i></span>
                        <span>Tratamientos</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- START OF TABS -->
                <div class="columns is-multiline">
                  <div class="column is-12" id="painCharacteristicContainer" data-target="tabs.container">
                    <div class="columns is-multiline is-flex">
                      <div class="column is-4 is-12-mobile">
                        <div class="field">
                          <label class="label" for="fr">Tipo</label>
                          <div class="control">
                            <input type="text" id="fr" class="input" name="fr"/>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label" for="fr">Duración</label>
                          <div class="control">
                            <input type="text" id="fr" class="input" name="fr"/>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label" for="fr">Edo. Actual</label>
                          <div class="control">
                            <input type="text" id="fr" class="input" name="fr"/>
                          </div>
                        </div>

                        <div class="columns is-flex">
                          <div class="column is-6 pb-0">
                            <label class="label" for="eva">EVA</label>
                            <div class="select">
                              <select id="eva" name="marritalStatus">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </div>
                          </div>
                          <div class="column is-6 pb-0">
                            <label class="label" for="evara">EVARA</label>
                            <div class="select">
                              <select id="evara" name="evara">
                                <option value="Leve">Leve</option>
                                <option value="Moderado">Moderado</option>
                                <option value="Fuerte">Fuerte</option>
                                <option value="Muy fuerte">Muy fuerte</option>
                                <option value="Insoportable">Insoportable</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="column is-4 is-12-mobile">
                        <div class="field">
                          <label class="label" for="fr">Localización</label>
                          <div class="control">
                            <input type="text" id="fr" class="input" name="fr"/>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label" for="lastTime">Última vez</label>
                          <div class="control">
                            <input type="text" id="lastTime" class="input" name="lastTime"/>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label" for="alergies">Alergias</label>
                          <div class="control">
                            <textarea id="alergies" class="textarea" rows="2" name="alergies"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="column is-4 is-12-mobile">
                        <div class="field">
                          <label class="label" for="fr">Evolución</label>
                          <div class="control">
                            <input type="text" id="fr" class="input" name="fr"/>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label" for="fr">Inicio</label>
                          <div class="control">
                            <input type="text" id="fr" class="input" name="fr"/>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label" for="irradiations">Irradiaciones</label>
                          <div class="control">
                            <textarea id="irradiations" class="textarea" rows="2" name="irradiations"></textarea>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label" for="previousTx">Tx Previo</label>
                          <div class="control">
                            <textarea id="previousTx" class="textarea" rows="2" name="previousTx"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column is-12 is-hidden" id="physicResearchContainer" data-target="tabs.container">
                    <div class="columns is-flex is-multiline">
                      <div class="column is-6-mobile is-4-tablet">
                        <div class="columns is-flex">
                          <div class="column is-6 pb-0">
                            <label class="label" for="group">Gpo.</label>
                            <div class="select">
                              <select id="group" name="group">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="AB">AB</option>
                                <option value="O">O</option>
                              </select>
                            </div>
                          </div>
                          <div class="column is-6 pb-0">
                            <label class="label" for="rh">Rh.</label>
                            <div class="select">
                              <select id="rh" name="rh">
                                <option value="+">+</option>
                                <option value="-">-</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="columns is-flex">
                          <div class="column is-6-mobile is-6-tablet pb-0">
                            <div class="field">
                              <label class="label" for="fr">Fr</label>
                              <div class="control">
                                <input type="number" min="0" id="fr" class="input" name="fr"/ placeholder="resp./min.">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="column is-6-mobile is-4-tablet">
                        <div class="columns is-flex">
                          <div class="column is-6 pb-0">
                            <div class="field">
                              <label class="label" for="weight">Peso</label>
                              <div class="control">
                                <input type="number" min="0" id="weight" class="input" name="weight" placeholder="74.8kg"/>
                              </div>
                            </div>
                          </div>
                          <div class="column is-6 pb-0">
                            <div class="field">
                              <label class="label" for="size">Talla</label>
                              <div class="control">
                                <input type="text" id="size" class="input" name="size"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="column is-6-mobile is-4-tablet">
                        <div class="columns is-flex">
                          <div class="column is-6 pb-0">
                            <div class="field">
                              <label class="label" for="ta">TA</label>
                              <div class="control">
                                <input type="number" min="0" id="ta" class="input" name="ta" placeholder="120 mmHg"/>
                              </div>
                            </div>
                          </div>
                          <div class="column is-6 pb-0">
                            <div class="field">
                              <label class="label" for="fc">Fc</label>
                              <div class="control">
                                <input type="number" min="0" id="fc" class="input" name="fc" placeholder="lat./min."/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="columns is-flex is-multiline">
                      <div class="column is-6-mobile is-4">
                        <div class="field">
                          <label class="label" for="generalInspection">Inspección general</label>
                          <div class="control">
                            <textarea id="generalInspection" class="textarea" rows="2" name="generalInspection"></textarea>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label" for="neck">Cuello</label>
                          <div class="control">
                            <textarea id="neck" class="textarea" rows="2" name="neck"></textarea>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label" for="chest">Torax</label>
                          <div class="control">
                            <textarea id="chest" class="textarea" rows="2" name="chest"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="column is-6-mobile is-4">

                        <div class="field">
                          <label class="label" for="head">Cabeza</label>
                          <div class="control">
                            <textarea id="head" class="textarea" rows="2" name="head"></textarea>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label" for="extremities">Extremidades</label>
                          <div class="control">
                            <textarea id="extremities" class="textarea" rows="2" name="extremities"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="column is-6-mobile is-4">
                        <div class="field">
                          <label class="label" for="abdomen">Abdomen</label>
                          <div class="control">
                            <textarea id="abdomen" class="textarea" rows="2" name="abdomen"></textarea>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label" for="column">Columna</label>
                          <div class="control">
                            <textarea id="column" class="textarea" rows="2" name="column"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column is-12 is-hidden" id="labContainer" data-target="tabs.container">
                    <div class="columns is-flex is-multiline">
                      <div class="column is-12-mobile is-6-tablet pb-0">
                        <div class="field">
                          <label class="label" for="lab">Laboratorio</label>
                          <div class="control">
                            <textarea id="lab" class="textarea" rows="2" name="lab"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="column is-12-mobile is-6-tablet pb-0">
                        <div class="field">
                          <label class="label" for="cabinete">Gabinete</label>
                          <div class="control">
                            <textarea id="cabinete" class="textarea" rows="2" name="cabinete"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="column is-12-mobile is-6-tablet">
                        <div class="field">
                          <label class="label" for="interconsultations">Interconsultas</label>
                          <div class="control">
                            <textarea id="interconsultations" class="textarea" rows="2" name="interconsultations"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="column is-12-mobile is-6-tablet">
                        <div class="field">
                          <label class="label" for="requestesStudies">Estudios Solicitados</label>
                          <div class="control">
                            <textarea id="requestesStudies" class="textarea" rows="2" name="requestesStudies"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column is-12 is-hidden" id="theatmentsContainer" data-target="tabs.container">
                    Tratamiento
                  </div>
                </div>
              <!-- END OF TABS -->
              </div>
            </div>
            <div class="field">
              <button class="button is-success" type="submit">
                Registrar paciente
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
