input,
.input,
textarea,
.textarea {
  background: none;
  border: 1px solid $divider-blue;
  border-radius: 3px;
  box-shadow: none;
  font-family: $family-secondary;
  height: 35px;
  margin-bottom: 10px;
  padding: 5px 9px;
  transition: all 300ms ease-in;
  width: 100%;

  &:active {
    border-color: $helper-blue;
    box-shadow: 0 0 10px rgba($helper-blue, .5);
  }

  &:focus {
    border-color: $helper-blue;
    box-shadow: 0 0 10px rgba($helper-blue, .8);
  }

  &:hover {
    border-color: $helper-blue;
    border-width: 1px;
  }

  &::placeholder {
    color: rgba($dark-grey, .4);
  }
}
