@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');
$montserrat: 'Montserrat';
$karla: 'Karla';
$divider-blue: #EAF1F9;
$helper-blue: #DBE1FE;
$family-primary: $montserrat;
$family-secondary: $karla;
$dark-grey: #545454;
